#marked {
    -fx-border-color: orangered;
}

#marked:hover {
    -fx-background-color: chartreuse;
}

#marked:selected {
    -fx-background-color: chartreuse;
}

#unmarked:hover {
    -fx-background-color: chartreuse;
}

#unmarked:selected {
    -fx-background-color: chartreuse;
}

