.root {
    -fx-background-color: #383838;
}

.label {
    -fx-text-fill: darkgray;
}

#manualText {
    -fx-text-fill: #F8F8F8;
}

.separator .line{
    -fx-border-color: #585858;
}

#manualText .content {
    -fx-background-color: #383838;
    -fx-border-color: #383838;
}

#manualText {
    -fx-text-fill: darkgray;
    -fx-background-color: #383838;
}

#rollButton {
    -fx-background-color: #AB4642;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

#rollButton:hover {
    -fx-background-color: #AB4642;
    -fx-background-radius: 10;
    -fx-text-fill: gold;
}

#potLabel, #moneyLabel {
    -fx-text-fill: gold;
}

#computerCombination, #humanCombination {
    -fx-text-fill: aqua;
}

#win, #wonStats {
    -fx-text-fill: green;
}

#lost, #lostStats {
    -fx-text-fill: red;
}

#draw, #drawStats {
    -fx-text-fill: blue;
}

#titledPaneStats .title {
    -fx-background-color: #585858;
}

#titledPaneStats *.content {
    -fx-background-color: #383838;
    -fx-border-color: #585858;
}

#titledPaneStats {
    -fx-text-fill: darkgray;
}




