.root {
    -fx-background-color: #383838;
}

.button {
    -fx-background-color: #AB4642;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #AB4642;
    -fx-background-radius: 10;
    -fx-text-fill: gold;
}

.label {
    -fx-text-fill: black;
}

#value {
    -fx-text-fill: gold;
}